@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");
:root {
  --index: calc(1vw + 1vh);
  min-height: 100vh;
  text-decoration: none;
}

body {
  font-family: "Lora", serif;
  background-color: rgb(222, 245, 246);
}

h1 {
  text-align: center;
}

.nav {
  /* padding: 8px 0; */
  background-image: url(../src/img/water.png);
  /* background-color: aqua; */
  background-size: calc(var(--index) * 85);
  background-repeat: repeat-x;
  letter-spacing: normal;
}
.nav-km {
  background-color: rgb(89, 13, 160);
}
.nav-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 30px;
  row-gap: 20px;
  flex-wrap: wrap;
  margin: 0 16px;
}
.nav-row-logo-img {
  width: calc(var(--index) * 15);
  height: calc(var(--index) * 15);
}
.nav-row-logo-img-hand {
  width: calc(var(--index) * 10);
  height: calc(var(--index) * 4);
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  align-items: center;
  column-gap: 40px;
  font-weight: 500;
}
.nav-list__link {
  color: rgb(235, 8, 8);
  transition: opacity 0.2s ease-in;
}

.Back {
  font-size: calc(var(--index) * 3);
  color: rgb(46, 7, 244);
}
.back-img {
  width: calc(var(--index) * 6);
  height: calc(var(--index) * 7);
}
.main {
  margin: 16px;
  background-color: rgb(222, 245, 246);
}

.menu {
  font-weight: 500;
  font-size: calc(var(--index) * 3);
}
.menu-list {
  list-style-type: none;
}
.menu-list-item {
  text-decoration: none;
  color: rgb(6, 95, 49);
}
